<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TransfertDbToDb.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <TransfertDbToDb.My.MySettings>
            <setting name="Da" serializeAs="String">
                <value />
            </setting>
            <setting name="A" serializeAs="String">
                <value />
            </setting>
            <setting name="credenzialiDa" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="credenzialiA" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userDa" serializeAs="String">
                <value />
            </setting>
            <setting name="passDa" serializeAs="String">
                <value />
            </setting>
            <setting name="userA" serializeAs="String">
                <value />
            </setting>
            <setting name="passA" serializeAs="String">
                <value />
            </setting>
        </TransfertDbToDb.My.MySettings>
    </userSettings>
</configuration>